
.name{
	font-family: serif;
}

.normalwords{
	font-family: serif;
}

.main-container{
	width: 1000px;
	border: 1px #808080;
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	margin:0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
	
}

.leftside{
	width: 300px;
	background-color: #DCDCDC;
	border-top-left-radius: 15px;
  	border-bottom-left-radius: 15px;
	overflow: hidden;
}

.text-content{
	padding: 20px;
	background-color: #DCDCDC;
}

p{
	margin-top: 3px;
	margin-bottom: 3px;
}

.foodpic{
	width: 300px;
}

.logo{
	width: 260px;
}

.rightside{
	width: 700px;
	border-top-right-radius: 15px;
  	border-bottom-right-radius: 15px;
}

.section{
	padding: 30px;
}

.section-title{
	font-weight: 600;
	margin-bottom: 5px;
}

.year{
	white-space: pre; /*不要碰我的空白!!!*/
	font-weight: 600;
	color: #808080;
}

.description{
	white-space: pre;
}

.myskills{
	display: flex;
	gap: 20px;
}

.tag{
	padding: 5px 15px;
	border-radius: 15px;
	background-color: #D3D3D3;
	color: #808080;
	text-align: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.HWandLab{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.HW{
	flex: 0.48;
	border-radius: 15px;
	background-color: #D3D3D3;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.Lab{
	flex: 0.48;
	border-radius: 15px;
	background-color: #D3D3D3;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.littletitle{
	margin-top: 0;
}

.nounderline{
	text-decoration: none;
}

.songlist{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.song{
	flex: 0.22;
	text-align: center; 
}

.ytpic{
	width: 50px;
}